body{
    background-color: rgb(174, 255, 127);
    background-image: url(https://static.vecteezy.com/system/resources/previews/017/033/096/original/abstract-ppt-background-design-is-simple-and-suitable-for-ppt-backgrounds-and-others-free-vector.jpg)
}
h1{
    background-color: rgb(250, 244, 249);
}